<!DOCTYPE html>
<html lang="en">

<script>
  (function() {
    var cx = '011323818478269606267:rmb4coar_ym';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
<br>
  
{% include head.html %}
  

<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

</html>
